.logo{
  width: 53px;
  @media (max-width:991px) {
    width: 40px;
  }
}
.search{
  width: 282px;
  @media (max-width:991px) {
  max-width: 168px;
  }
}
.link-dark:hover{
  color:  #9C9E18;
}
.bg-cover{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .card img{
  height: 511px;
  @media (max-width:991px) {
    height: 350px;
    }
}
.icon{
  width: 80px;
  @media (max-width:991px) {
    height: 60px;
    }
  @media (max-width:768px) {
    width: 40px;
    }
}
.recent-img{
  height: 255px;
  background-position: center;
  background-size: cover;
  @media (max-width:991px) {
    height: 210px;
    }
}
.circle-hover-link{
  position: relative;
  z-index: 1;
  &:hover{
    &::before{
      content: "";
      position: absolute;
      top:-10%;
      left: -17%;
      width: 29px;
      height: 29px;
      background-color: #FBFF22;
      border-radius: 50%;
      z-index: -1;
      display: inline-block;
    }
  }
}
.underline-link-hover:hover{
  text-decoration: underline;
}
.tag{
  position: relative;
  background-color: transparent;
  border: 1px solid#030303;
  color: #030303;
  &:hover{
    background-color:#030303;
    color: white;
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: -5px;
      width: 4px;
      height: 100%;
      background-color: #FBFF22;
      display: inline-block;
    }
  }
}
.btn-hover{
  background-color: #030303;
  color: white;
  &:hover{
    color: #FBFF22;
  }
}
.online-img{
  height: 317px;
  background-position:center;
  background-size: cover;
  @media (max-width:991px) {
   content: "";
      position: absolute;
      top:-10%;
      left: -17%;
      width: 29px;
      height: 29px;
      background-color: #FBFF22;
      border-radius: 50%;
      z-index: -1;
      display: inline-block;
    }
}
.swiper{
  background-color: #000;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  letter-spacing: 3.2px;
  width: auto;
}
.album-img{
  height:  274px;
  @media (max-width:991px) {
    height:  267px;
    }
}
.album-tag{
  top:0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-4deg);
}
.album li{
  &:nth-child(2n){
    transform: rotate(2deg);
  }
  &:nth-child(3){
    transform: rotate(-2deg);
  }
}
 