img{
  object-fit: cover;
}
.logo{
  width: 53px;
  @media (max-width:991px) {
    width: 40px;
  }
}
.search{
  width: 282px;
  @media (max-width:991px) {
  max-width: 168px;
  }
}
.bg-cover{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .card img{
  height: 511px;
  @media (max-width:991px) {
    height: 350px;
    }
}
.icon{
  width: 80px;
  @media (max-width:991px) {
    height: 60px;
    }
  @media (max-width:768px) {
    width: 40px;
    }
}
.recent-img{
  height: 255px;
  background-position: center;
  background-size: cover;
  @media (max-width:991px) {
    height: 210px;
    }
}
.tag{
  border: 1px solid black;
  border-left: 4px solid black;
}
.online-img{
  height: 317px;
  background-position:center;
  background-size: cover;
  @media (max-width:991px) {
    height: 158px;
    }
}
.swiper{
  background-color: #000;
}
.swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-slide {
  letter-spacing: 3.2px;
  width: auto;
}
.album-img{
  // width: 274px;
  height:  274px;
  @media (max-width:991px) {
    // width: 267px;
    height:  267px;
    }
}
.album-tag{
  top:0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-4deg);
}
.album li{
  &:nth-child(2n){
    transform: rotate(2deg);
  }
  &:nth-child(3){
    transform: rotate(-2deg);
  }
}
 